@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$body-font-family: 'Poppins', sans-serif;
.flexcard {
    display: flex;
    flex-direction: column;
  }
  // Add the css below if your card has a toolbar, and if your toolbar's height increases according to the flex display.
  .flexcard .v-toolbar {
    flex: 0;
  }
  @keyframes bounce {
    50% {
      transform: translate(0, 5px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  .dot{
    animation: bounce 0.8s linear 0.2s infinite;
  }
  .create-dot{
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
  }
  .message-list{
    display: flex;
  
    
  }